.main {
    width: 100%;
}
.sidebar {
    width: 100%;
    display: block;
}
.ingredient {
    display: inline;
}
.main-content {
    width: 100%;
    display: block;
}
.comment {
    width: 100%;
}
.comments {
    width: 100%;
}
.comment-form {
    width: 100%;
    padding: 0;
}
.comment-form input, .comment-form textarea {
    padding: 0;
}
.comment-form input[type="submit"] {
    padding: 10px 0 10px 0;    
}
.list-element {
    width: 100%;
    display: block;
}
