@font-face {
    font-family: 'valtechse-glyphs';
    src: url("/Content/Fonts/valtechse.eot");
    src: local("caoncfazifeaef"), url("/Content/Font/valtechse.woff") format("woff"), url("/Content/Font/valtechse.ttf") format("truetype"), url("/Content/Font/valtechse.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/Content/bg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

h1, h2, h3, h4, h5, p {
    color: #424242;
}

h4 {
    font-family: Helvetica;
}

p {
    font-family: arial;
    line-height: 1.5;
}

.main {
    width: 70%;
    max-width: 960px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

header {
    overflow: hidden;
}

.logo {
    font-family: 'Lobster', cursive;
    margin: 30px;
    font-weight: 100;
    font-size: 32px;
    color: #292929;
    float: left;
    text-decoration: none;
}

header {
    overflow: hidden;
}

.header-menu {
    float: right;
    margin: 30px 20px 0 0;
}

    .header-menu ul {
        list-style: none;
    }

        .header-menu ul li {
            float: left;
            margin-left: 10px;
        }

            .header-menu ul li a {
                padding: 20px 20px;
                font-size: 12px;
                font-family: sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                color: #333;
                transition: all .2s ease-out;
            }

                .header-menu ul li a:hover {
                    color: #fff;
                    background-color: #3498db;
                }

.list-box {
    margin: 0.3em;
    padding: 0.5em 0.5em 0 0.5em;
    font-size: 14px;
    background-color: #fafafa;
    display: inline-block;
    position: relative;
    height: 400px;
        overflow: hidden;
}
.list-box2 {
    margin: 0.3em;
    padding: 0.5em 0.5em 0 0.5em;
    font-size: 14px;
    background-color: #fafafa;
    display: inline-block;
    position: relative;
    height: 200px;
    overflow: hidden;
}
    .list-box p.instruction {
        
        margin-bottom: 0;
    }

    .list-box a {
        text-decoration: none;
    }

.list-image {
    width: 100%;
    height: 40%;
    padding: 0;
    display: block;
    margin: 0;
}
.list-image2 {
    width: 100%;
    height: 60%;
    padding: 0;
    display: block;
    margin: 0;
}

a.list-link {
    color: #3498db;
    text-decoration: none;
    font-family: Helvetica;
}

.list {
    font-size: 0;
    padding: 0;
    background-color: #fff;
    padding-top: 20px;
}

.list-element {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.left {
    float: left;
}

.sidebar {
    width: 30%;
    min-height: 50px;
    background: #FAC36A;
    padding: 10px 0 10px 20px;
    margin-top: -100px;
    position: relative;
    box-sizing: border-box;
}

    .sidebar ul {
        list-style: none;
    }

    .sidebar li {
        line-height: 1.5;
        font-family: verdana;
        margin: 3px 0;
    }

.main-content {
    width: 70%;
    box-sizing: border-box;
    padding: 0 20px;
}

.cover-img {
    width: 100%;
    height: 300px;
    background-image: url(http://cdn.arla.se/Files/4287675424/9d0c0d9a-04d5-4a03-9945-8e607313b985.jpg);
    background-size:cover;
    position: relative;
}
.ingredient {
    display: block;
}

.wrapper {
    display: flex;
    background-color: #fff;
}

@media only screen and (max-width: 480px) {
    .wrapper {
        display: block;
    }
}

.wrapper-list {
    background-color: #fff;
    padding: 30px 0 50px 0;
}

    .wrapper-list h1 {
        margin: 0 0 0 30px;
    }

.cover-img h1 {
    position: absolute;
    bottom: 0;
    right: 30px;
    font-family: verdana;
    text-transform: uppercase;
    font-size: 40px;
    background-color: rgba(0, 0, 0, .2);
    color: #E4E4E4;
    padding: 10px;
    font-weight: 100;
}

.display-none {
    display: none;
}

.comments {
    background-color: #fff;
    padding-top: 10px;
}

.comment {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #FAC36A;
}

    .comment:nth-child(odd) {
        background-color: #FDF2DF;
    }

.comment-form {
    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
}

    .comment-form input, .comment-form textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid #FAC36A;
        outline: none;
        font-size: 16px;
        font-family: verdana;
        box-sizing: content-box;
    }

        .comment-form input[type="submit"] {
            background-color: #3498db;
            border: none;
            color: #292929;
        }

.comment p.name {
    text-transform: capitalize;
    font-weight: bold;
}

.comment .left, .comment .right {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 10px;
}

.comment .left {
    border-right: 1px solid #FAC36A;
    width: 25%;
}

.comment .right {
    width: 75%;
}

h2.horizontal-line {
    position: relative;
    text-align: center;
    overflow: hidden;
    color: #FAC36A;
}

    h2.horizontal-line:before, h2.horizontal-line:after {
        content: '\a0';
        width: 48%;
        top: 50%;
        height: 1px;
        position: absolute;
        background-color: #FAC36A;
    }

    h2.horizontal-line:before {
        margin-left: -50%;
    }

    h2.horizontal-line:after {
        margin-left: 2%;
    }

.summary {
    font-family: georgia;
    font-size: 20px;
    letter-spacing: 2px;
}

.author {
    font-size: 14px;
    font-style: italic;
}

.read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(transparent, rgb(239, 239, 239));
}

.glyph {
    font-family: valtechse-glyphs;
    font-style: normal;
}

.icon {
    padding-right: .3rem;
}

.glyph[data-icon*='facebook']:before {
    content: "";
}

.glyph[data-icon*='instagram']:before {
    content: "";
}

.glyph[data-icon*='twitter']:before {
    content: "";
}

footer {
    background: white;
    padding-top: 1px;
    overflow: hidden;
}

footer .right {
    float: right;
    padding-left: 15px;
    padding: 0.75em 1.3em;
}

footer .right ul {
    list-style: none;
}

footer .right li {
    padding: 0 .5em;
    vertical-align: top;
    font-size: 1.5em;
    display: inline-block;
}

footer a {
    color: #0095c7;
    text-decoration: none;
}
