
@{
    ViewBag.Title = "About";
}

<div class="main">
    <header>
        <h1 class="logo">Tacopajen</h1>
        <nav class="header-menu">
            <ul>
                <li><a href="/">Grundrecept</a></li>
                <li><a href="/recept">LCHF</a></li>
                <li><a href="/recept">Vegetarisk</a></li>
                <li><a href="/recept">Andra typer</a></li>
            </ul>
        </nav>
    </header>
    <div class="cover-img">
        <h1>@Model.Recipe.Name</h1>
    </div>
</div>
