@{
    ViewBag.Title = "Home Page";
}

<div class="main">

    <header>
        <h1 class="logo">Tacopajen</h1>
        <nav class="header-menu">
            <ul>
                <li><a href="/">Grundrecept</a></li>
                <li><a href="/lchf">LCHF</a></li>
                <li><a href="/vegitariskt">Vegitarisk</a></li>
                <li><a href="/lista">Andra typer</a></li>
            </ul>
        </nav>
    </header>

    <div class="cover-img">
        <h1>Tacopaj</h1>
    </div>

    <div class="wrapper">
        <div class="sidebar">
            <h1>Ingredienser</h1>
            <h3>Pajdeg</h3>
            <ul>
                <li>2dl mjöl</li>
                <li>5dl mjölk</li>
                <li>1tsk salt</li>
                <li>1msk vatten</li>
            </ul>

            <h3>Fyllning</h3>
            <ul>
                <li>10dl ost</li>
                <li>1dl mjölk</li>
                <li>1st ägg</li>
            </ul>
        </div>

        <div class="main-content">
            <h1>Gör så här</h1>
            <p>Sätt ugnen på 225°. Hacka ihop smör, mjöl och paprikapulver till en grynig massa, för hand eller i matberedare. Tillsätt vatten och arbeta snabbt ihop till en smidig deg. Tryck ut degen i en pajform eller ugnsfast form, ca 30 cm i diameter. Gör några hål i degen med en gaffel. Ställ formen i kyl ca 30 min. Förgrädda pajskalet i mitten av ugnen ca 12 min.
            Bryn köttfärsen i smör. Tillsätt tacokrydda och vatten, låt koka ca 5 min. Blanda smaksatt crème fraiche med naturell crème fraiche i en skål. Halvera tomaterna och låt bitarna med chili rinna av. Fyll pajskalet med färs och bred på crème fraiche blandningen. Täck med tomathalvor och chili, strö över ost och pudra till sist över paprikapulver. Grädda pajen i mitten av ugnen ca 25 min, tills osten fått fin färg. Servera med gräddfil och tacochips.</p>
            <p>Sätt ugnen på 225°. Hacka ihop smör, mjöl och paprikapulver till en grynig massa, för hand eller i matberedare. Tillsätt vatten och arbeta snabbt ihop till en smidig deg. Tryck ut degen i en pajform eller ugnsfast form, ca 30 cm i diameter. Gör några hål i degen med en gaffel. Ställ formen i kyl ca 30 min. Förgrädda pajskalet i mitten av ugnen ca 12 min.
            Bryn köttfärsen i smör. Tillsätt tacokrydda och vatten, låt koka ca 5 min. Blanda smaksatt crème fraiche med naturell crème fraiche i en skål. Halvera tomaterna och låt bitarna med chili rinna av. Fyll pajskalet med färs och bred på crème fraiche blandningen. Täck med tomathalvor och chili, strö över ost och pudra till sist över paprikapulver. Grädda pajen i mitten av ugnen ca 25 min, tills osten fått fin färg. Servera med gräddfil och tacochips.</p>
        </div>
    </div>


    <div class="wrapper-list">
        <h1>Liknande Recept</h1>
        <ul class="list">
            <li class="list-element">
                <div class="list-box">
                    <img class="list-image" src="http://www.ica.se/imagevaultfiles/id_42718/cf_1286/tacopaj-714198.jpg"/>
                    <h4>Tacopaj LCHF</h4>
                    <p>Recept av: <a class="list-link" href="http://www.ica.se/recept/tacopaj-714198/">Ica</a></p>
                </div>
            </li>
            <li class="list-element">
                <div class="list-box">
                    <img class="list-image" src="http://www.ica.se/imagevaultfiles/id_42718/cf_1286/tacopaj-714198.jpg"/>
                    <h4>Tacopaj LCHF</h4>
                    <p>Recept av: <a class="list-link" href="http://www.ica.se/recept/tacopaj-714198/">Ica</a></p>
                </div>
            </li>
            <li class="list-element">
                <div class="list-box">
                    <img class="list-image" src="http://www.ica.se/imagevaultfiles/id_42718/cf_1286/tacopaj-714198.jpg"/>
                    <h4>Tacopaj LCHF</h4>
                    <p>Recept av: <a class="list-link" href="http://www.ica.se/recept/tacopaj-714198/">Ica</a></p>
                </div>
            </li>
            <li class="list-element">
                <div class="list-box">
                    <img class="list-image" src="http://www.ica.se/imagevaultfiles/id_42718/cf_1286/tacopaj-714198.jpg"/>
                    <h4>Tacopaj LCHF</h4>
                    <p>Recept av: <a class="list-link" href="http://www.ica.se/recept/tacopaj-714198/">Ica</a></p>
                </div>
            </li>
        </ul>
    </div>
