@model Tacopajen.Models.RecipeListViewModel
@{
    ViewBag.Title = "Index";
}

@foreach (var recipe in Model.Recipe)
{  
        <div>@recipe.Name</div>
        <div>@recipe.Description</div>
        <div>@recipe.ImgUrl</div>
}

